<header>
  <div class="header-logo-wrapper">
    <a href="<%= relative_url '/' %>">
      <img src="<%= relative_url '/images/AKASHI_rb.png' %>" alt="AKASHI.rb" class="header-logo-img" />
    </a>
  </div>
</header>

<nav>
  <ul>
    <li><a href="<%= relative_url '/' %>">Home</a></li>
    <li><a href="<%= relative_url '/organizers' %>">Organizers</a></li>
    <li><a href="<%= relative_url '/venue' %>">Venue</a></li>
    <li><a href="<%= relative_url '/code-of-conduct' %>">Code of Conduct</a></li>
    <li><a href="<%= relative_url '/stats' %>">Stats</a></li>
  </ul>
</nav>

